.verify {
    min-height: 60vh;
    display: grid;
    place-items: center; /* centers spinner vertically and horizontally */
}

.verify .spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}

/* Tablet and small desktop */
@media (max-width: 750px) {
    .verify .spinner {
        width: 80px;
        height: 80px;
        border-width: 4px;
    }
}

/* Small mobile */
@media (max-width: 500px) {
    .verify .spinner {
        width: 60px;
        height: 60px;
        border-width: 3px;
    }
}

/* Extra small mobile */
@media (max-width: 375px) {
    .verify .spinner {
        width: 50px;
        height: 50px;
        border-width: 2px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
